/* AdminPanel.module.css */

.section {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Заголовок */
.h1 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

/* Ліва частина (модальні вікна) */
.div_left {
  flex: 1;
  max-width: 250px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: #2b2b2b;
  margin-right: 20px;
}

/* Права частина (таблиця продуктів) */
.div_right {
  flex: 2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: #2b2b2b;
}



