.ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	max-width: 800px;
}

.li {
	background-color: #00553b;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s, box-shadow 0.3s;
}

.li:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}

.h3 {
	color: #00fc6d;
	font-size: 1.6rem;
	margin-bottom: 10px;
}

.p {
	color: #ffffff;
	font-size: 1rem;
	line-height: 1.5;
}